@font-face {
    font-family: 'Atiba';
    src: url('/fonts/atiba.ttf') format('truetype');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "AkzidenzGrotesk";
    src: url("/fonts/Akzidenz-grotesk-roman.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}