@import './globals.scss';

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    z-index: 10;

    padding: 0.5rem 0.5rem 0rem 1rem;

    .bigNebulaButton {
        margin-right: 2rem;
        @extend .hoverable;
    }
}

.navBarLeftButtons {
    display: flex;
    flex-direction: row;
    align-items: center;

    align-items: center;
    width: 30%;
    z-index: 10;

}

.searchResults {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    overflow-y: scroll;

    position: absolute;
    width: 25vw;

    right: 0vw;

}

.searchResult {
    width: 25vw;
    padding-top: 1rem;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;

    row-gap: 0.5rem;

    cursor: pointer;
    width: 100%;

    align-items: center;
    justify-items: start;

    &>h3 {
        align-self: end;
    }

    &>img {
        width: 4vw;
        height: auto;
        margin-right: 1rem;
        grid-row-end: span 3;

        justify-self: center;
        align-self: start;
    }

    &>p {
        align-self: start;
        grid-row-end: span 2;
    }
}

.searchBarDiv {
    width: 24vw;
    z-index: 10;

    margin-right: 0.5vw;

    &>input {
        width: 100%;
    }
}

input {
    font-size: 12pt;
    padding: 0.5rem;

    border: none;
    border-radius: 5px;

    background-color: #2d2d2da0;
    color: white;

    backdrop-filter: blur(2px);
}

.navButton {
    @extend .hoverable;

    background-color: red;
    border-radius: 5px;

    padding: 0.25rem;

    margin-left: 1rem;
    justify-content: center;
    align-content: center;

    padding-top: 0.5rem;

}