@import './clusterRadio.scss';
@import "./navBar.scss";
@import "./fonts.scss";
@import "./globals.scss";
@import './footer.scss';
@import './dialogues.scss';

html {
    user-select: none;
    font-family: AkzidenzGrotesk;
}

h1,
h2 {
    font-family: Atiba;
}

h2,
h3 {
    user-select: text;
}

body {
    color: white;
    background-color: black;

}


.songDisplay {
    display: flex;
    flex-direction: column;
    width: 17vw;
    z-index: 100;

    padding: 1rem;

    h1 {
        margin-bottom: 0.2rem;
    }

    &>img,
    audio {
        max-width: 100%;
        height: auto;

        margin-bottom: 0.5rem;
        margin-top: 0.5rem;


        align-self: center;
    }

    z-index: 100;
    backdrop-filter: blur(2px);
    border-radius: 10px;

}


.nebulaPage {
    background-color: #00000000 !important;
    // pointer-events: none !important;

    width: 100%;
    height: 100%;

    position: relative;

    &>div>* {
        // pointer-events: all;
    }
}


.nebulaContainer {
    // width: 60vw;
    // height: 80vh;
    position: absolute;
    width: 100%;
    height: 100%;
    // z-index: -1;

    top: 0;
    bottom: 0;

    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pointWindow {
    position: absolute;
    background-color: #00b7ffa0;

    ::before {
        filter: blur(5px);
    }

    display: grid;
    grid-template-columns: 4fr 1fr;

    padding: 1rem;
    grid-gap: 1rem;

    border-radius: 5px;

    &>.imageButton {
        grid-row-end: span 2;
        width: 10vw;
        height: auto;
    }

    &>audio {
        grid-column-end: span 2;
        width: 100%
    }

}

.mainContent {
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: relative;
}

.imageButton {
    cursor: pointer;

    &>img {
        width: 100%;
        height: auto;

        display: block;
    }

}

.imageButton:hover {
    filter: blur(1px);

}

.pageContent {
    padding: 1rem;
    padding-top: 7vh;
}



.featureDiv {
    padding: 0.75rem;
    margin-bottom: 0.5rem;

    h3 {
        margin-bottom: 0.2rem;
    }

    &>* {
        user-select: none;
    }
}

.loaderContainer{
    position: absolute;
    top: 40vh;
}

.unselectedDiv {
    @extend .featureDiv;
    cursor: pointer;
}

.selectedDiv {
    @extend .unselectedDiv;

    background-color: #0000ffb0;
    border-radius: 5px;

    &::before {
        filter: blur(2px);
    }

    backdrop-filter: blur(2px);

}